@import url("https://fonts.googleapis.com/css?family=Lobster");
body {
  background: black;


  color: yellow;
  font-family: 'Lobster', cursive, georgia;
  font-size: 95x;
  display: flex;
  align-content: center;
  justify-content: center;
}
h1 {
  font-size: 55px;
  -webkit-text-stroke-width: .5px;
   -webkit-text-stroke-color: white;
}
h2 {
  color: black;
  text-align: center;
  font-size: 20px
}
h3 {
  color: black;
  text-align: center;
  font-size: 25px;
}
h4 {
  font-size: 20px;
  float: right;
  position: relative;
  top: -1.7cm;
  right: 3cm;
  -webkit-text-stroke-width: .1px;
   -webkit-text-stroke-color: white;
}
ul {
  color: black;
}
p {
  font-size: 20px;
  -webkit-text-stroke-width: .2px;
   -webkit-text-stroke-color: white;
}
img {
  height: 195px;
  width: 175px;
  border: 2px solid black;
  border-radius: 100%;
  padding-left:.01cm;
}
.nav {
  background-color: yellow;
  height: 575px;
  margin-left: 1cm;
  float: left;
  flex: 1;

}
.main {
  padding-left: 30px;
  min-width: 75%
}

/*.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}*/
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
