@import url("https://fonts.googleapis.com/css?family=Lobster");
body {
  background: black;


  color: yellow;
  font-family: 'Lobster', cursive, georgia;
  font-size: 95x;
  display: flex;
  align-content: center;
  justify-content: center;
}
h1 {
  font-size: 55px;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
}
h2 {
  color: black;
  text-align: center;
}
h3 {
  color: black;
  text-align: center;
}


ul {
  color: black;
}
img {
  height: 195px;
  width: 175px;
  border: 2px solid black;
  border-radius: 100%;
  padding-left:.01cm;
}
.nav {
  background-color: yellow;
  height: 575px;
  margin-left: 1cm;
  float: left;
  flex: 1;

}
.main {
  padding-left: 30px;
  min-width: 75%
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}
